.error-big {
    margin-top: 16px;
    color: #666;
}
.error-big div {
    vertical-align: top;
    display: inline-block;
}
.error-people {
    width: 398px;
    height: 587px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 38px 50px;
    margin-right: 14px;
}
.error-people .error-people-title {
    font-size: 16px;
}
.error-right {
    width: 728px;
}
.error-right .error-handle-record {
    width: 728px;
    height: 587px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 38px 50px;
    overflow: scroll;
    margin-bottom: 14px;
}
.error-right .error-handle-record .error-people-title {
    font-size: 16px;
}
.error-right .error-handle-record .error-img {
    width: 70px;
    height: 70px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-right: 5px;
}
.error-right .error-handle-record .error-handle-time {
    font-size: 12px;
    color: #999;
}
.ant-upload.ant-upload-select-picture-card {
    width: 70px;
    height: 70px;
    display: inline-block;
}
.ant-upload-list-picture-card .ant-upload-list-item {
    width: 70px;
    height: 70px;
}
.blue {
    color: #1791FF
}
.six {
    color: #666
}