.error-big {
    margin-top: 16px;
    color: #666;
}
.error-big div {
    vertical-align: top;
    display: inline-block;
}
.error-people {
    width: 398px;
    height: 587px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 38px 50px;
    margin-right: 14px;
}
.error-people .error-people-title {
    font-size: 16px;
}
.error-right {
    width: 728px;
}
.error-right .error-handle-record {
    width: 728px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 38px 50px;
    overflow: scroll;
    margin-bottom: 14px;
}
.error-right .error-handle-record .error-people-title {
    font-size: 16px;
}
.error-right .error-handle-record .error-img {
    width: 70px;
    height: 70px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-right: 5px;
}
.error-right .error-handle-record .error-handle-time {
    font-size: 12px;
    color: #999;
}
.error-right .error-handle {
    width: 728px;
    height: 213px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 22px 50px;
    background: #f5f5f5;
}
.error-right .error-handle .ant-input {
    border: none;
    background: #f5f5f5;
    margin-bottom: 10px;
}
.error-right .error-handle .error-btns {
    display: block;
    text-align: center;
}
.error-right .error-handle .error-btns button {
    width: 130px;
    height: 40px;
}
.error-right .error-handle .error-btns button:first-child {
    margin-right: 30px;
}
.ant-upload.ant-upload-select-picture-card {
    width: 70px;
    height: 70px;
    display: inline-block;
}
.ant-upload-list-picture-card .ant-upload-list-item {
    width: 70px;
    height: 70px;
}
.blue {
    color: #1791FF
}
.six {
    color: #666
}