.detail-title {
    height: 22pt;
    background: #1791FF;
    position: relative;
    color: #fff;
}
.detail-title i {
    width: 3px;
    height: 11pt;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 9px;
    top: 7px;
    margin-right: 10px;
}
.detail-title span {
    margin-left: 20px;
    font-size: 11pt;
    line-height: 22pt;
}
.detail-out {
    padding: 30pt 80px !important;
}
.detail-out > div {
    display: inline-block;
    width: 48%;
    /*height: 497px;*/
    border-radius: 4pt;
    border: 1px solid #ccc;
    vertical-align: top;
}
.detail-out .four {
    margin-right: 20pt;
    border: none;
    /*height: 330pt;*/
    margin-bottom: 32pt;
}
.four > div {
    display: inline-block;
    border-radius: 4pt;
    border: 1px solid #ccc;
    width: 47%;
    background: #fafafa;
    text-align: center;
}
.four img {
    display: inline-block;
}
.four span {
    display: inline-block;
}
.four .face, .four .hold {
    height: 292px;
    margin-bottom: 30px;
    padding: 12px 25px;
}
.face-img, .hold-img {
    width: 170px;
    height: 212px;
}
.face span, .hold span {
    margin-bottom: 22px;
}
.front span, .back span {
    margin-bottom: 13px;
}
.four .face, .four .front {
    margin-right: 6%;
}
.four .front, .four .back {
    height: 189px;
    padding: 12px 25px;
}
.front-img, .back-img {
    width: 170px;
    height: 112px;
}
.four-title {
    font-size: 12px;
    color: #999;
}
.detail-out .hetong {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 45pt;
    background: #fafafa;
}
.detail-out .hetong:hover {
    cursor: pointer;
}
.detail-out .hetong .hetong-title {
    font-size: 14px;
    color: #A8ADB3;
    margin-bottom: 45px;
    text-align: center;
}
.detail-out .hetong .hetong-title span{
    margin: 0 auto;
}
.detail-out .hetong .hetong-img {
    display: inline-block;
    width: 262px;
    height: 365px;
    line-height: 365px;
}
.detail-out .idInfo, .detail-out .professionInfo {
    padding: 17px 14px;
    height: 458px;
}
.detail-out .idInfo {
    margin-right: 20pt;
}
.detail-out .idInfo .detail-id-title, .detail-out .professionInfo .profession-title {
    display: inline-block;
    color: #323232;
    font-size: 14px;
    margin-bottom: 16px;
    height: 20px;
}
.id-info, .profession-info {
    margin-bottom: 11px;
    height: 20px;
}